/* GLOBAL THEME SUPPORT */

:root{
color-scheme: light dark;
}

/* Dark mode */

@media (prefers-color-scheme: dark){

body{
background:#0b0b0b;
color:#e5e7eb;
}

.navbar{
background:#000;
}

.footer{
background:#000;
}

}